@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f3f4f6; /* Light background */
  --color-card-background: #ffffff; /* Light card background */
  --color-text: #111827; /* Light text */
  --color-primary: #1d4ed8; /* Light primary color */
  --color-secondary: #374151; /* Light secondary color */
  --color-input-bg: #e5e7eb; /* Light input background */
}

[data-theme="dark"] {
  --color-background: #202c37; /* Dark background */
  --color-card-background: #2b3945; /* Dark card background */
  --color-text: #ffffff; /* Dark text */
  --color-primary: #3b82f6; /* Dark primary color */
  --color-secondary: #4b5563; /* Dark secondary color */
  --color-input-bg: #2b3945; /* Dark input background */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
